body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: Fauna One, Arial, Helvetica;
    transition: 1s;
}

/* Nawigacja */
header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: #fff;
    box-shadow: 0 0 3px 3px rgb(226, 166, 166);
    animation: pierwszaAnimacja 3s infinite;
}

@keyframes pierwszaAnimacja{
    0% {}
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    position: relative;
    padding: 0px 0;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: darkred;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav ul li a:hover::after{
    width: 100%;
}

button#zmianaTrybu{
    border: 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 15px;
    height: auto;
    transition: 0.5s;
}
button#zmianaTrybu:hover{
    padding: 17px;
}

/* Sekcja Główna */
.contenerWelcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.contenerWelcome img{
    height: 75vh;
    width: 40vw;
    object-fit: cover;
    object-position: left top;
}

/* Klasy do trybu ciemnego*/
.btnChangeLight{
    background-color: white;
    color: white;
}